@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap');

body {
  background-image: url(http://i.imgur.com/O7ZWigt.png);
  padding: 20px;
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
}
.title {
  color: white;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #24D081;
  padding: 0;
  border-radius: 30px;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: transparent;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.boxWhite {
  height: 700px;
  background: transparent;
}
.bgCircle {
  border-radius: 50%;
  width: 230px;
  height: 230px;
  background-image: url(https://banner2.kisspng.com/20180609/xzg/kisspng-pok-ball-pokmon-clip-art-pokemon-ball-gym-teams-5b1bf9764710c1.9958688915285599902911.jpg);
  background-size: 250px 265px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 10px;
  float: left;
  font-size: 13px;

}

.circle {
  border-radius: 50%;
}
.ctr {
  font-size: 24px;
  text-align: center;
}